@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&family=Droid+Sans:wght@400;700&display=swap');
@import 'tailwindcss';

::selection {
  background-color: #47a3f3;
  color: #fefefe;
}

:root {
  --font-heading: 'Ubuntu', sans-serif;
  --font-body: 'Droid Sans', sans-serif;
  --color-primary: #2C2B3E;
  --color-secondary: #9333EA;
  --color-accent: #F59E0B;
  --color-background: #F3F4F6;
  --sh-class: #2d5e9d;
  --sh-identifier: #354150;
  --sh-sign: #8996a3;
  --sh-string: #007f7a;
  --sh-keyword: #e02518;
  --sh-comment: #a19595;
  --sh-jsxliterals: #6266d1;
  --sh-property: #e25a1c;
  --sh-entity: #e25a1c;
}

@media (prefers-color-scheme: dark) {
  :root {
    --sh-class: #4c97f8;
    --sh-identifier: white;
    --sh-keyword: #f47067;
    --sh-string: #0fa295;
  }
  html {
    color-scheme: dark;
  }
}

html {
  min-width: 360px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
}

.bg-quote {
  background-color: #2C2B3E;
}

body, p, span, div, a, button, input, textarea {
  font-family: var(--font-body);
}

.prose > :first-child {
  /* Override removing top margin, causing layout shift */
  margin-top: 1.25em !important;
  margin-bottom: 1.25em !important;
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Remove Safari input shadow on mobile */
input[type='text'],
input[type='email'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

table {
  display: block;
  max-width: fit-content;
  overflow-x: auto;
  white-space: nowrap;
}

.title {
  text-wrap: balance;
}

.title-section{
  transform: rotate(270deg);
}
